<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.drakepitts.justchess"
	android:versionCode="1"
	android:versionName="1.0" >

	<uses-sdk
		android:minSdkVersion="14"
		android:targetSdkVersion="17" />

	<application
		android:allowBackup="true"
		android:icon="@drawable/ic_launcher"
		android:label="@string/app_name"
		android:theme="@style/AppTheme" >
		<activity
			android:name="com.drakepitts.justchess.MainMenu"
			android:label="@string/app_name"
			android:screenOrientation="portrait" >
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />

				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity
			android:name="com.drakepitts.justchess.ChessGameActivity"
			android:label="@string/app_name"
			android:parentActivityName="com.drakepitts.justchess.MainMenu"
			android:screenOrientation="portrait" >
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value="com.drakepitts.justchess.MainMenu" />
		</activity>
		<activity
			android:name="SettingsActivity"
			android:label="@string/action_settings"
			android:screenOrientation="portrait" >
		</activity>
	</application>

</manifest>